<h1>Detalle del usuario</h1>
<p>Nombre completo: <%= @User.fullName %></p>
<p>Apodo: <%= @User.fullName %></p>
<p>Edad: <%= @User.age %></p>
<p>Direccion: <%= @User.address %></p>
<p>Email: <%= @User.email %></p>
<p>Creado en: <%= @User.created_at %></p>
<p>Modificado en: <%= @User.updated_at %></p>
